name: Run tests

on:
  push:
    branches:
    - master

    tags:
    - '*'

  pull_request:

jobs:
  test:
    strategy:
      matrix:
        version: [ '3.11','3.10','3.9','3.8','3.7' ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: test
      env:
        PYTHON_VER: ${{ matrix.version }}
      run: make test
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: prepare artifact
      run: cp docker.mk Makefile && tar -czf docker4python.tar.gz docker-compose.yml Makefile .env traefik.yml
    - name: get tag name
      id: vars
      run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
    - uses: xresloader/upload-to-github-release@v1
      id: upload_artifact
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: docker4python.tar.gz
        overwrite: true
        tags: true
        draft: false
        tag_name: ${{ steps.vars.outputs.tag }}